<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-danger logo" href="#"><h1 class="font-weight-bold">HRPORTAL</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcontent" aria-controls="navbarcontent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarcontent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-profile">Add Profile</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
       
     </ul>
         <ul class="navbar-nav mt-2 mt-lg-0 float-right">
          <li class="nav-item">
              <a class="nav-link btn btn-primary border-primary btn-outline-dark text-white" routerLink="/login">Sign in</a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn btn-primary border-primary btn-outline-dark text-white ml-2" routerLink="/register">Sign up</a>
          </li>
          
      </ul>
  
      
    </div>
  </nav>

  
  <div class="container">
    <h2 class="text-center font-weight-bold mt-4">Registration</h2> 
    <hr class="w-25 pb-5">
   
</div>

<form class=" w-50 mx-auto mb-5" >
   
    <div class="form-row font-weight-bold">
        <div class="form-group col-sm-6 col-12 ">
        <label for="fname "> First Name</label>
        <input type="text" class="form-control border-secondary "  id="fname" placeholder="enter first name" >
      </div>
      <div class="form-group col-sm-6 col-12">
        <label for="lname" >Last Name</label>
        <input type="text" class="form-control border-secondary" id="lname"  placeholder="enter last name">
      </div>
    </div>
    <div class="form-row font-weight-bold">
      <div class="form-group col-sm-6 col-12">
        <label for="email">Email</label>
        <input type="email" class="form-control border-secondary" id="email" placeholder="enter the email">
      </div>
     
      <div class="form-group col-sm-6 col-12">
        <label for="mno">Mobile No</label>
        <input type="text" class="form-control border-secondary" id="mno" placeholder="enter the Mobile No">
      </div>
    </div>
    <div class="form-row font-weight-bold">
      <div class="form-group col-sm-6 col-12">
        <label for="bd">Birth Date</label>
        <input type="date" class="form-control border-secondary" id="bd">
      </div>
      <fieldset class="form-group col-sm-6 col-12 ">
        <div class="row font-weight-bold">
          <legend class="col-form-label col-sm-2 pt-0 ml-2">Gender</legend>
          <div class="col-sm-10 ">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked >
              <label class="form-check-label" for="gridRadios1">
                Male
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                Female
              </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                <label class="form-check-label" for="gridRadios3">
                  Other
                </label>
              </div>
            </div>
          </div>
        </fieldset> 
      </div>
      
   
    <div class="form-row font-weight-bold">   
     <div class="form-group col-sm-6 col-12">
        <label for="cloc">Current Location</label>
        <input type="text" class="form-control border-secondary" id="cloc" placeholder="enter the current location">
    </div>
    
        <div class="form-group col-sm-6 col-12">
            <label for="cnm">Company Name</label>
            <input type="text" class="form-control border-secondary" id="cnm" placeholder="enter the company name">
        </div>
      </div>

      <div class="form-row font-weight-bold">   
        <div class="form-group col-12 ">
       <label for="address">Address</label>
       <textarea class="form-control border-secondary" id="address" placeholder="enter the address information"></textarea>
     </div>
       </div>
        <div class="form-row font-weight-bold">
        <div class="form-group col-sm-6 col-12">
            <label for="pass">Password</label>
            <input type="password" class="form-control border-secondary" id="pass" placeholder="enter the password">
        </div>
     
        <div class="form-group col-sm-6 col-12 ">
            <label for="cpass" >Confirm Password</label>
            <input type="password" class="form-control border-secondary" id="cpass" placeholder="enter the confirm password">
        </div>
      </div>

     
        <div class="form-group row ">
            <div class="col-sm-8  text-center mx-auto mt-3">
              <button type="submit" class="btn btn-dark border-dark btn-outline-primary text-white mr-3">Register</button>
           
              <button type="submit" class="btn btn-dark border-dark btn-outline-primary text-white">Cancel</button>
           
            </div>
          </div>
     </form>
